@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
    background: #262626;
    color:#fff;
    font-family: 'Montserrat';
    margin:0;
}

.row {
    width:100%;
    background:#dae0ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

#price-container {
    background:black;
    padding: 0 10px;    
    border-right: 3px solid #ffffff;
    height: 100%;
}
#goal-container {
    padding:20px;
}
#remote-desk-card{
    width: 500px;
    height: 200px;
    background-color: white;
    border-left: 10px solid #5757ff;
}
.subtext {
    font-size:.8em;
    text-transform:uppercase;
    margin-bottom: 10px;
}
img {
    width: 20px;
}

h1 {
    margin: 20px 0;
    color:#5757ff;
}
h3{
    padding: 20px 20px  0 20px;
    color:#5757ff;
}
.simple-text{
    color: grey;
    padding-left: 20px;
}
input#ipAddress{
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    border-radius: 1px;
    width: 88%;
    padding: 6px 10px;
    
}
button {
    float:right;
    background:#5757ff;
    border:none;
    color:#fff;
    padding:10px 35px;
    margin:10px;
    margin-top: 15px;
    cursor:pointer;
    font-weight: bold;
}

.feature-head{
    font-weight: 700;
    margin-left: 20px;
}
.list li{
    padding: 20px;
}